html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    background: #f1f5f8;
    color: #102a42;
    line-height: 1.5;
    font-size: .875rem;
}

main {
    width: 1200px;
    margin: 40px auto 0;
    background: #f1f5f8;
}

nav {
    background: #2680c0;
    padding: 1.25rem 2rem;
}

.nav-center {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: block;
    position: relative;
}

/*.nav-container:before {*/
/*    content: "";*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    transform: translateX(-50%);*/
/*    background: green;*/
/*}*/

.amount-container {
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: #85c6f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container svg {
    width: 50px;
    fill: #fff;
}

nav h3 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    text-transform: capitalize;
}

.amount-container > p {
    color: #ffffff;
}

.cart {
    width: 90vw;
    margin: 40px auto 0;
    padding: 2.5rem 0;
    max-width: 50rem;
}

.cart h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 35px;
}

.arrowUp, .arrowDown {
    width: 30px;
}

.cart-item {
    display: flex;
    margin: 20px 0;
}

.cart-item h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.cart-item img {
    width: 90px;
}

.item-price {
    color: #617d98;
}

.content-part {
    margin-left: 30px;
}

.counter {
    margin-left: auto;
}

.card-total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid black;
}

.card-total h4, .card-total span {
    font-size: 20px;
    font-weight: 800;
}

footer {
    text-align: center;
}

.clearBtn {
    color: red;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid red;
    background: transparent;
    cursor: pointer;

}